body{
    background-image: url('./assets/background_img.png');
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    
}

#text{ 
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    color: rgb(192, 21, 21);
    font-size: xx-large;
    animation: myAnimation 2s ease-in-out infinite;
    transition: 1s;
}

@keyframes myAnimation{
    0%{
        font-size: large;
        height: 0vh;
        color: rgb(211, 107, 21)
    }
    50%{
        font-size: larger;
        height: 40vh;
        color: #b32020;
    }
    100%{
        font-size: xx-large;
    }
}


